<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jf.authentication.mapper.DeviceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jf.authentication.entity.Device">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="internet_address" property="internetAddress" />
		<result column="mac" property="mac" />
		<result column="port" property="port" />
		<result column="report_address" property="reportAddress" />
		<result column="report_port" property="reportPort" />
		<result column="protocol_class" property="protocolClass" />
		<result column="secret" property="secret" />
		<result column="proxy_address" property="proxyAddress" />
		<result column="default_user" property="defaultUser" />
		<result column="default_password" property="defaultPassword" />
		<result column="free_online_time" property="freeOnlineTime" />
		<result column="offline_policy_id" property="offlinePolicyId" />
		<result column="extra" property="extra" />
	</resultMap>

</mapper>
