<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jf.authentication.mapper.ParametersMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jf.authentication.entity.Parameters">
		<result column="device_config_name" property="deviceConfigName" />
		<result column="parameter_name" property="parameterName" />
	</resultMap>

</mapper>
